{
  "tabWidth": 2,
  "printWidth": 140,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
